services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata:/var/lib/pgsql
    ports:
      - "5432:5432"
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "9000:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    depends_on:
      - db
      
volumes:
  pgdata: